*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    width: 1440px
    margin: 0 auto

.header
    display: flex
    justify-content: space-between
    height: 55px
    background-color: #FFFAEF

.right-links,.left-links
    display: flex
    margin-left: 0
    padding-left: 0
    li
        display: flex
        margin: 18px
        justify-content: space-between
        list-style-type: none
        a
            text-decoration: none
            font-size: 15px
            color: #006450
            font-family: 'Roboto', sans-serif
.logo-text
    margin: 16px

    .logo-first
        font-size: 18px
        color: #00c08b
    .logo-second
        font-size: 20px
        color: #00c08b